
<div class="flex-container">
            <form action="contra" method="POST">
                    <hr>
            <div class="form-floating mb-3">
                <input type="text" id="name" name="name" class="form-control" id="floatingInput" placeholder="nombre..." autofocus>
                 <label for="name">Ingrese nombre completo</label>
            </div>
            <hr>
            <div class="form-floating">
                <input type="email" id="mail" name="mail" class="form-control" placeholder="correo electronico">
                <label for="mail">Ingrese correo</label>
            </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
            </div>
        
