<head>
     <link rel="stylesheet" type="text/css" href="css/cssOne.css">
</head>
<body>
  {{>nav}}
  <header>
      <div id="lele" class="position-absolute top-50 start-50 translate-middle"> 
    <img id="tete" src="assets/ic.jpg" class="img-fluid" alt="logo"> </div>
  </header>
    <main>
     

  <div id="myCarousel"  class="carousel slide" data-bs-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
         <img src="assets/pro-aire.gif" alt="producto">
      </div>
    </div>
    
  </div>
  <div id="myCarousel" class="carousel" class="carousel slide" data-bs-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
         <img src="assets/samsung-pro.gif" alt="producto">
      </div>
    </div>
    
  </div>
	
 <article>
   <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="assets/producto.jpg" class="card-img-top" alt="productos">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/aire-gif.gif" class="card-img-top" alt="Instalación">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/local.jpg" class="card-img-top" alt="Planificación">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
</div>

<h2>Ventas</h2>
<hr class="featurette-divider">
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <img src="assets/consumo.gif" class="card-img-top" alt="Planificación">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/gif-pro.gif" class="card-img-top" alt="Planificación">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img src="assets/pro-pro-aire.gif" class="card-img-top" alt="Planificación">

      </div>
    </div>
 </article>

</main>
</body>

