nav{
  position: relative;
  width: 100%;
  height: 4em;
  color: #080808;
}
.p-3{
  background-color: #080808;
}
.title{
  color: white;
  margin-right: 0.5em;
  text-decoration: none;
}
.white{
  color:white;
  margin-top: -4px;
}
.blanco{
  color:white;
}
.rojo{
  color:#db4646;
  margin-top: -4px;
}
.title1{
  padding: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
}
.none{
  text-decoration: none;
  color: #5d7191;
}